.list{
    position: relative;
}

.item{
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 5px;
}

li{
    list-style: none;
}
.item:nth-child(1){
    background-color: palevioletred;
}
.item:nth-child(2){
    background-color: blue;
    left: 90px;
    top: 60px;
    z-index: 1;
}
.item:nth-child(3){
    background-color: green;
    left: 150px;
    top: 120px;
}